/.vscode
*.pyc
חומר עזר לפרויקט/~$גוריתם לניהול נחיתות והמראות.docx
חומר עזר לפרויקט/‏‏ספר פרויקט + מצגת/~$גוריתם לניהול נחיתות והמראות - HY.docx
חומר עזר לפרויקט/‏‏ספר פרויקט + מצגת/~$גוריתם לניהול נחיתות והמראות - HY.docx
ProjectA/HY_ProA/Logs/log_output0.txt
